<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
    <head th:replace="snippet/header::head"></head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
            <!-- 搜索栏-->
            <nav th:replace="snippet/narbar::nav"></nav>
            <!-- Main Sidebar Container -->
            <div th:replace="snippet/menus::sidebar"></div>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div th:replace="snippet/content-header::header"></div>
                <!-- Main content -->

            </div>
            <!-- /.content-wrapper -->
            <!--底部描述-->
            <footer th:replace="snippet/footer::footer"></footer>

            <!-- Control Sidebar -->
            <div th:replace="snippet/footer::control-sidebar"></div>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
        <div th:replace="snippet/footer :: script"></div>
    </body>
</html>
